// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
#include "winres.h"
/////////////////////////////////////////////////////////////////////////////
// 日本語 (日本) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_JPN)
LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT
#pragma code_page(932)

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
ICON_ID_1               ICON                    "Icon.ico"


#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,1,2,0
 PRODUCTVERSION 1,1,2,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041104b0"
        BEGIN
            VALUE "CompanyName", "Cdec-PlanetaGameLabo"
            VALUE "FileDescription", "丸い惑星を守る線だけでできたシューティングゲーム"
            VALUE "FileVersion", "1.1.2.0"
            VALUE "InternalName", "WirePlanet.exe"
            VALUE "LegalCopyright", "Copyright (C) 2014-2017 Cdec-PlanetaGameLabo"
            VALUE "OriginalFilename", "WirePlanet.exe"
            VALUE "ProductName", "WirePlanet"
            VALUE "ProductVersion", "1.1.2.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x411, 1200
    END
END

IDR_VERSION2 VERSIONINFO
 FILEVERSION 1,1,2,0
 PRODUCTVERSION 1,1,2,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041104b0"
        BEGIN
            VALUE "CompanyName", "Cdec-PlanetaGameLabo"
            VALUE "FileDescription", "丸い惑星を守る線だけでできたシューティングゲーム"
            VALUE "FileVersion", "1.1.2.0"
            VALUE "InternalName", "WirePlanet.exe"
            VALUE "LegalCopyright", "Copyright (C) 2014-2017 Cdec-PlanetaGameLabo"
            VALUE "OriginalFilename", "WirePlanet.exe"
            VALUE "ProductName", "WirePlanet"
            VALUE "ProductVersion", "1.1.2.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x411, 1200
    END
END

#endif    // 日本語 (日本) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

